<div class="row">
  <div class="col-xs-12">
    <h1>¿Qué piensan aquellos que votaron como yo?</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>

<div class="row" ng-hide="loading">
  <div class="col-md-6">
      <h2>¿A quién votaste en primera vuelta?</h2>
      <button class="btn btn-default option-primera" ng-class="{active:primera=='macri'}" ng-click="selectPrimera($event,'macri')">Mauricio Macri</button>
      <button class="btn btn-default option-primera" ng-class="{active:primera=='scioli'}" ng-click="selectPrimera($event,'scioli')">Daniel Scioli</button>
      <button class="btn btn-default option-primera" ng-class="{active:primera=='otro'}" ng-click="selectPrimera($event,'otro')">Otro candidato</button>
      <button class="btn btn-default option-primera" ng-class="{active:primera=='blanco'}" ng-click="selectPrimera($event,'blanco')">Blanco/Impugnado</button>
  </div>
  <div class="col-md-6">
      <h2>¿A quién votaste en Ballotage?</h2>
      <button class="btn btn-default option-segunda" ng-class="{active:segunda=='macri'}" ng-click="selectSegunda($event,'macri')">Mauricio Macri</button>
      <button class="btn btn-default option-segunda" ng-class="{active:segunda=='scioli'}" ng-click="selectSegunda($event,'scioli')">Daniel Scioli</button>
      <button class="btn btn-default option-segunda" ng-class="{active:segunda=='blanco'}" ng-click="selectSegunda($event,'blanco')">Blanco/Impugnado</button>
  </div>
</div>


<hr/>

<p ng-show="loading" class="text-center">Cargando...</p>

<div ng-show="primera && segunda">
  
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">Votaste <span class="label label-default">{{candidatoText[primera]}}</span> en primera vuelta y <span class="label label-default">{{candidatoText[segunda]}}</span> en el Ballotage. A las personas encuestadas que votaron como vos, aprueban las gestiones de gobierno en <span class="label label-default">{{data[category[primera+'-'+segunda]][0].tema}}</span>, <span class="label label-default">{{data[category[primera+'-'+segunda]][1].tema}}</span> y <span class="label label-default">{{data[category[primera+'-'+segunda]][2].tema}}</span>. Por otra parte, desaprueban las gestiones en: <span class="label label-default">{{data[category[primera+'-'+segunda]][9].tema}}</span>, <span class="label label-default">{{data[category[primera+'-'+segunda]][8].tema}}</span> y <span class="label label-default">{{data[category[primera+'-'+segunda]][7].tema}}</span></p>
    </div>
  </div>

  <div class="row">
    <h2 class="text-center">¿Qué gestiones son evaluadas como más APROBADAS?</h2>    
    <div class="col-md-3">
      <h3>Oficialismo <small ng-show="category[primera+'-'+segunda]=='base'"><span class="label label-default">VOS</span></small></h3>
      <div class="row">
        <div class="col-xs-12" ng-repeat="t in data.base | limitTo:3">
          {{t.tema}}
          <div id="base-{{t.id}}-chart" class="chart-to-render"></div>
          <hr/>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <h3>Oposición <small ng-show="category[primera+'-'+segunda]=='oposicion'"><span class="label label-default">VOS</span></small></h3>
      <div class="row">
        <div class="col-xs-12" ng-repeat="t in data.oposicion | limitTo:3">
          {{t.tema}}
          <div id="oposicion-{{t.id}}-chart" class="chart-to-render"></div>
          <hr/>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h3>Voto confianza <small ng-show="category[primera+'-'+segunda]=='confianza'"><span class="label label-default">VOS</span></small></h3>
      <div class="row">
        <div class="col-xs-12" ng-repeat="t in data.confianza | limitTo:3">
          {{t.tema}}
          <div id="confianza-{{t.id}}-chart" class="chart-to-render"></div>
          <hr/>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h3>Voto desconfianza <small ng-show="category[primera+'-'+segunda]=='desconfianza'"><span class="label label-default">VOS</span></small></h3>
      <div class="row">
        <div class="col-xs-12" ng-repeat="t in data.desconfianza | limitTo:3">
          {{t.tema}}
          <div id="desconfianza-{{t.id}}-chart" class="chart-to-render"></div>
          <hr/>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="row">
    <h2 class="text-center">¿Qué gestiones son evaluadas como más DESAPROBADAS?</h2>
    <div class="col-md-3">
      <h3>Oficialismo <small ng-show="category[primera+'-'+segunda]=='base'"><span class="label label-default">VOS</span></small></h3>
      <div class="row">
        <div class="col-xs-12" ng-repeat="t in data.base | orderBy:'total' | limitTo:3">
          {{t.tema}}
          <div id="base-{{t.id}}-chart" class="chart-to-render"></div>
          <hr/>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h3>Oposición <small ng-show="category[primera+'-'+segunda]=='oposicion'"><span class="label label-default">VOS</span></small></h3>
      <div class="row">
        <div class="col-xs-12" ng-repeat="t in data.oposicion | orderBy:'total' | limitTo:3">
          {{t.tema}}
          <div id="oposicion-{{t.id}}-chart" class="chart-to-render"></div>
          <hr/>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h3>Voto confianza <small ng-show="category[primera+'-'+segunda]=='confianza'"><span class="label label-default">VOS</span></small></h3>
      <div class="row">
        <div class="col-xs-12" ng-repeat="t in data.confianza | orderBy:'total' | limitTo:3">
          {{t.tema}}
          <div id="confianza-{{t.id}}-chart" class="chart-to-render"></div>
          <hr/>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h3>Voto desconfianza <small ng-show="category[primera+'-'+segunda]=='desconfianza'"><span class="label label-default">VOS</span></small></h3>
      <div class="row">
        <div class="col-xs-12" ng-repeat="t in data.desconfianza | orderBy:'total' | limitTo:3">
          {{t.tema}}
          <div id="desconfianza-{{t.id}}-chart" class="chart-to-render"></div>
          <hr/>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div id="example-width" class="col-md-3">
    <div class="row">
        <div class="col-xs-12">
        </div>
    </div>
  </div>
</div>

<hr/>
